<header class="site-header">

  <a id="logo" href="index.html"></a>
  <!-- Nav -->
  <div id="nav_container">
    <ul class="nav_block">
      <li class="nav_item"><a href="index.html">Home</a></li>
      <li class="nav_item"><a href="gallery.php.html">Gallery</a></li>
      <li class="nav_item"><a href="about.php.html">About</a></li>
      <li class="nav_item"><a href="sponsors.php.html">Sponsors</a></li>
    </ul>           
    <div id="slider"></div>
  </div>
  <!-- END Nav -->

<!--
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
blah
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
-->
</header>
